.footer {
    background: #282d30;
    padding: 1.875em 0;
}

.footer__text {
    margin: 0;
    text-align: center;
    color: #fff;
	font-size: 0.625em;
    line-height: 1.5em;
}

@media only screen and (max-width : 576px) {
	.footer__text {
		font-size: 0.625em;
	}
}