.section {
	padding: 1.875em 0;
}

.section_without-padding {
	padding: 0;
}

.section__text {
    color: #282d30;
    margin: 0;
    line-height: 1;
    margin-bottom: 1.25em;
}

.section__text_size-1 {
    font-size: 2em;
    margin-top: 0.125em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 600;
}

.section__text_size-2 {
    text-transform: uppercase;
    font-size: 1.125em;
    padding: 0 0.625em;
    font-weight: 600;
	display: none;
    border-left: 3px solid #8b9497;
}

.section__icon {
	font-size: 0.875em;
	padding: 0 0.125em;
}


@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 576px) {
	.section__text_size-1 {
		font-size: 2.5em;
		margin-top: 0.375em;
		margin-bottom: 1.25em;
	}
}

@media only screen and (min-width : 720px) {
	.section,
	.section_without-padding {
		padding: 1.25em;
	}
	.section__text_size-2 {
		display: block;
	}
}

@media only screen and (min-width : 1024px) {
	.section {
		padding: 1.875em;
	}
}