.button {
	font-weight: 400;
    font-size: 0.875em;
    background: transparent;
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    font-size: 1em;
}

.button_send,
.button_send:focus {
    outline: none;
}

.button_send {
    width: 100%;
    background: #c4092f;
    padding: 0.375em;
    text-transform: uppercase;
    color: #fff;
	-webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
}

.button_send:hover {
    background: #282d30;
    color: #fff;
}

